# Ignore all files in data/collections, but not the folder itself
src/data/collections/*
!src/data/collections/.gitkeep

# Ignore all files in data/content and subfolders, but keep the empty folders
src/data/content/*
!src/data/content/.gitkeep

# Ignore all files in data/content/posts and subfolders, but keep the empty folders
src/data/content/posts/*
!src/data/content/posts/.gitkeep

.DS_Store